In [83]:
import numpy as np
import pandas as pd

In [84]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score

In [85]:
dataset_train = pd.read_csv(r"C:\Users\DELL\Downloads\Engine Failure Prediction\PM_train.txt")

In [86]:
dataset_test = pd.read_csv(r"C:\Users\DELL\Downloads\Engine Failure Prediction\PM_test.txt")

In [87]:
dataset_truth = pd.read_csv(r"C:\Users\DELL\Downloads\Engine Failure Prediction\PM_truth.txt")

In [88]:
dataset_train.head()

  1 1 -0.0007 -0.0004 100.0 518.67 641.82 1589.70 1400.60 14.62 21.61 554.36 2388.06 9046.19 1.30 47.47 521.66 2388.02 8138.62 8.4195 0.03 392 2388 100.00 39.06 23.4190
0  1 2 0.0019 -0.0003 100.0 518.67 642.15 1591.82...
1  1 3 -0.0043 0.0003 100.0 518.67 642.35 1587.99...
2  1 4 0.0007 0.0000 100.0 518.67 642.35 1582.79 ...
3  1 5 -0.0019 -0.0002 100.0 518.67 642.37 1582.8...
4  1 6 -0.0043 -0.0001 100.0 518.67 642.10 1584.4...

In [89]:
dataset_test.head()

  1 1 0.0023 0.0003 100.0 518.67 643.02 1585.29 1398.21 14.62 21.61 553.90 2388.04 9050.17 1.30 47.20 521.72 2388.03 8125.55 8.4052 0.03 392 2388 100.00 38.86 23.3735
0  1 2 -0.0027 -0.0003 100.0 518.67 641.71 1588.4...
1  1 3 0.0003 0.0001 100.0 518.67 642.46 1586.94 ...
2  1 4 0.0042 0.0000 100.0 518.67 642.44 1584.12 ...
3  1 5 0.0014 0.0000 100.0 518.67 642.51 1587.19 ...
4  1 6 0.0012 0.0003 100.0 518.67 642.11 1579.12 ...

In [90]:
dataset_truth.head()

   112
0    98
1    69
2    82
3    91
4    93

In [91]:
dataset_train.isnull().any()

1 1 -0.0007 -0.0004 100.0 518.67 641.82 1589.70 1400.60 14.62 21.61 554.36 2388.06 9046.19 1.30 47.47 521.66 2388.02 8138.62 8.4195 0.03 392 2388 100.00 39.06 23.4190      False
dtype: bool

In [92]:
dataset_test.isnull().any()

1 1 0.0023 0.0003 100.0 518.67 643.02 1585.29 1398.21 14.62 21.61 553.90 2388.04 9050.17 1.30 47.20 521.72 2388.03 8125.55 8.4052 0.03 392 2388 100.00 38.86 23.3735      False
dtype: bool

In [93]:
dataset_truth.isnull().any()

112     False
dtype: bool

In [94]:
dataset_test = pd.read_csv(r'C:\Users\DELL\Downloads\Engine Failure Prediction\PM_test.txt',sep = ' ',header=None).drop([26,27],axis =1)
col_names = ['id','cycle','selling1','selling2','selling3','s1','s2','s3','s4','s5','s6','s7','s8','s9','s10','s11','s12','s13','s14','s15','s16','s17','s18','s19','s20','s21']
dataset_test.columns=col_names
print('Shape of Test dataset' ,dataset_test.shape)
dataset_test.head()

Shape of Test dataset (13096, 26)

,id,cycle,selling1,selling2,selling3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130

In [95]:
dataset_train = pd.read_csv(r'C:\Users\DELL\Downloads\Engine Failure Prediction\PM_train.txt',sep = ' ',header=None).drop([26,27],axis=1)
dataset_train.columns = col_names
print('Shape of Train dataset' ,dataset_train.shape)
dataset_train.head()

Shape of Train dataset (20631, 26)

,id,cycle,selling1,selling2,selling3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,521.66,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,522.28,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,522.42,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,522.86,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,522.19,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044

In [96]:
pm_truth=pd.read_csv(r'C:\Users\DELL\Downloads\Engine Failure Prediction\PM_truth.txt',sep = ' ',header = None).drop([1],axis=1)
pm_truth.columns=['more']
pm_truth['id']=pm_truth.index+1
pm_truth.head()

   more  id
0   112   1
1    98   2
2    69   3
3    82   4
4    91   5

In [97]:
rul = pd.DataFrame(dataset_test.groupby('id')['cycle'].max()).reset_index()
rul.columns = ['id','max']
rul.head()

   id  max
0   1   31
1   2   49
2   3  126
3   4  106
4   5   98

In [98]:
pm_truth['rtf']= pm_truth['more']+rul['max']
pm_truth.head()

   more  id  rtf
0   112   1  143
1    98   2  147
2    69   3  195
3    82   4  188
4    91   5  189

In [99]:
pm_truth.drop('more',axis = 1,inplace = True)
dataset_test = dataset_test.merge(pm_truth,on=['id'],how = 'left')
dataset_test['ttf']=dataset_test['rtf'] - dataset_test['cycle']
dataset_test.drop('rtf',axis = 1,inplace = True)
dataset_test.head()

,id,cycle,selling1,selling2,selling3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735,142
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916,141
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166,140
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737,139
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130,138

In [100]:
dataset_train['ttf']=dataset_train.groupby(['id'])['cycle'].transform(max)-dataset_train['cycle']
dataset_train.head()

,id,cycle,selling1,selling2,selling3,s1,s2,s3,s4,s5,...,s13,s14,s15,s16,s17,s18,s19,s20,s21,ttf
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,2388.02,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,2388.07,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,2388.03,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,2388.08,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,2388.04,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187

In [101]:
df_train = dataset_train.copy()
df_test = dataset_test.copy()
period=30
df_train['label_bc'] = df_train['ttf'].apply(lambda x: 1 if x <= period else 0)
df_test['label_bc'] = df_test['ttf'].apply(lambda x: 1 if x <= period else 0)
df_train.head()

,id,cycle,selling1,selling2,selling3,s1,s2,s3,s4,s5,...,s14,s15,s16,s17,s18,s19,s20,s21,ttf,label_bc
0,1,1,-0.0007,-0.0004,100.0,518.67,641.82,1589.70,1400.60,14.62,...,8138.62,8.4195,0.03,392,2388,100.0,39.06,23.4190,191,0
1,1,2,0.0019,-0.0003,100.0,518.67,642.15,1591.82,1403.14,14.62,...,8131.49,8.4318,0.03,392,2388,100.0,39.00,23.4236,190,0
2,1,3,-0.0043,0.0003,100.0,518.67,642.35,1587.99,1404.20,14.62,...,8133.23,8.4178,0.03,390,2388,100.0,38.95,23.3442,189,0
3,1,4,0.0007,0.0000,100.0,518.67,642.35,1582.79,1401.87,14.62,...,8133.83,8.3682,0.03,392,2388,100.0,38.88,23.3739,188,0
4,1,5,-0.0019,-0.0002,100.0,518.67,642.37,1582.85,1406.22,14.62,...,8133.80,8.4294,0.03,393,2388,100.0,38.90,23.4044,187,0

In [102]:
df_train.drop(['ttf'],axis = 1,inplace =True)

In [103]:
df_test.drop(['ttf'],axis = 1,inplace =True)

In [104]:
x_test = df_test.iloc[:,:26].values
y_test = df_test.iloc[:,26].values

In [105]:
x_test = df_test.iloc[:,:26]
x_test.columns

Index(['id', 'cycle', 'selling1', 'selling2', 'selling3', 's1', 's2', 's3',
       's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11', 's12', 's13', 's14',
       's15', 's16', 's17', 's18', 's19', 's20', 's21'],
      dtype='object')

In [106]:
x_test

,id,cycle,selling1,selling2,selling3,s1,s2,s3,s4,s5,...,s12,s13,s14,s15,s16,s17,s18,s19,s20,s21
0,1,1,0.0023,0.0003,100.0,518.67,643.02,1585.29,1398.21,14.62,...,521.72,2388.03,8125.55,8.4052,0.03,392,2388,100.0,38.86,23.3735
1,1,2,-0.0027,-0.0003,100.0,518.67,641.71,1588.45,1395.42,14.62,...,522.16,2388.06,8139.62,8.3803,0.03,393,2388,100.0,39.02,23.3916
2,1,3,0.0003,0.0001,100.0,518.67,642.46,1586.94,1401.34,14.62,...,521.97,2388.03,8130.10,8.4441,0.03,393,2388,100.0,39.08,23.4166
3,1,4,0.0042,0.0000,100.0,518.67,642.44,1584.12,1406.42,14.62,...,521.38,2388.05,8132.90,8.3917,0.03,391,2388,100.0,39.00,23.3737
4,1,5,0.0014,0.0000,100.0,518.67,642.51,1587.19,1401.92,14.62,...,522.15,2388.03,8129.54,8.4031,0.03,390,2388,100.0,38.99,23.4130
5,1,6,0.0012,0.0003,100.0,518.67,642.11,1579.12,1395.13,14.62,...,521.92,2388.08,8127.46,8.4238,0.03,392,2388,100.0,38.91,23.3467
6,1,7,-0.0000,0.0002,100.0,518.67,642.11,1583.34,1404.84,14.62,...,522.01,2388.06,8134.97,8.3914,0.03,391,2388,100.0,38.85,23.3952
7,1,8,0.0006,-0.0000,100.0,518.67,642.54,1580.89,1400.89,14.62,...,522.09,2388.06,8125.93,8.4213,0.03,393,2388,100.0,39.05,23.3224
8,1,9,-0.0036,0.0000,100.0,518.67,641.88,1593.29,1412.28,14.62,...,522.03,2388.05,8134.15,8.4353,0.03,391,2388,100.0,39.10,23.4521
9,1,10,-0.0025,-0.0001,100.0,518.67,642.07,1585.25,1398.64,14.62,...,522.00,2388.06,8134.08,8.4093,0.03,391,2388,100.0,38.87,23.3820
10,1,11,0.0007,-0.0004,100.0,518.67,642.04,1581.03,1403.83,14.62,...,521.95,2388.06,8132.38,8.3919,0.03,391,2388,100.0,39.06,23.3609
11,1,12,0.0026,0.0003,100.0,518.67,642.54,1587.43,1397.82,14.62,...,522.01,2388.06,8132.33,8.3984,0.03,391,2388,100.0,39.11,23.3845
12,1,13,-0.0056,0.0003,100.0,518.67,641.94,1589.09,1403.94,14.62,...,522.37,2388.03,8131.12,8.4166,0.03,392,2388,100.0,39.08,23.3677
13,1,14,0.0017,-0.0004,100.0,518.67,642.23,1583.16,1402.88,14.62,...,521.95,2388.06,8130.30,8.4293,0.03,392,2388,100.0,39.03,23.4572
14,1,15,-0.0003,-0.0003,100.0,518.67,642.50,1584.81,1398.79,14.62,...,521.38,2388.00,8133.62,8.4163,0.03,392,2388,100.0,39.04,23.3672
15,1,16,-0.0018,0.0003,100.0,518.67,642.32,1584.51,1407.76,14.62,...,522.16,2388.10,8133.83,8.4300,0.03,390,2388,100.0,38.87,23.3484
16,1,17,0.0014,0.0002,100.0,518.67,642.19,1582.70,1404.12,14.62,...,522.09,2388.02,8126.78,8.4577,0.03,391,2388,100.0,39.09,23.3409
17,1,18,0.0035,0.0001,100.0,518.67,642.59,1586.53,1403.69,14.62,...,522.14,2388.06,8133.22,8.4323,0.03,391,2388,100.0,38.96,23.4481
18,1,19,0.0029,0.0001,100.0,518.67,642.43,1585.58,1402.30,14.62,...,522.06,2388.01,8129.31,8.3892,0.03,391,2388,100.0,39.06,23.3809
19,1,20,0.0011,-0.0001,100.0,518.67,642.61,1587.78,1400.70,14.62,...,522.28,2388.05,8128.59,8.4099,0.03,392,2388,100.0,39.00,23.3325
20,1,21,0.0038,-0.0002,100.0,518.67,642.70,1583.30,1399.20,14.62,...,522.05,2388.11,8126.86,8.4174,0.03,392,2388,100.0,38.96,23.4025
21,1,22,0.0012,0.0001,100.0,518.67,642.45,1582.78,1404.06,14.62,...,521.41,2388.04,8128.89,8.4557,0.03,392,2388,100.0,38.94,23.3770
22,1,23,0.0009,-0.0000,100.0,518.67,642.12,1587.51,1395.09,14.62,...,522.00,2388.06,8130.97,8.4116,0.03,393,2388,100.0,39.10,23.3186
23,1,24,-0.0006,-0.0001,100.0,518.67,642.32,1594.29,1400.15,14.62,...,522.06,2388.12,8130.70,8.4074,0.03,393,2388,100.0,38.94,23.3971
24,1,25,0.0028,-0.0003,100.0,518.67,642.25,1582.43,1400.23,14.62,...,522.26,2388.08,8128.65,8.4007,0.03,393,2388,100.0,38.96,23.3785
25,1,26,0.0047,-0.0005,100.0,518.67,642.48,1583.28,1408.07,14.62,...,521.95,2388.07,8129.12,8.3949,0.03,391,2388,100.0,38.77,23.3557
26,1,27,-0.0007,0.0001,100.0,518.67,642.08,1586.65,1400.31,14.62,...,521.82,2388.02,8127.24,8.4494,0.03,392,2388,100.0,38.87,23.3931
27,1,28,0.0022,0.0005,100.0,518.67,641.93,1594.25,1401.29,14.62,...,521.84,2388.07,8134.89,8.4470,0.03,392,2388,100.0,38.83,23.3502
28,1,29,0.0014,0.0001,100.0,518.67,641.95,1587.15,1398.11,14.62,...,522.39,2388.07,8133.13,8.4212,0.03,392,2388,100.0,39.02,23.3621
29,1,30,-0.0025,0.0004,100.0,518.67,642.79,1585.72,1400.97,14.62,...,521.78,2388.10,8134.79,8.4110,0.03,391,2388,100.0,39.09,23.4069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13066,100,169,0.0026,-0.0000,100.0,518.67,642.36,1591.25,1408.48,14.62,...,521.63,2388.02,8176.17,8.4480,0.03,392,2388,100.0,38.83,23.3286
13067,100,170,-0.0006,-0.0004,100.0,518.67,642.70,1589.92,1407.93,14.62,...,521.71,2388.06,8178.23,8.4235,0.03,393,2388,100.0,38.88,23.2980
13068,100,171,-0.0026,-0.0003,100.0,518.67,642.83,1586.64,1411.19,14.62,...,521.59,2388.03,8172.32,8.4667,0.03,392,2388,100.0,38.84,23.2103
13069,100,172,0.0007,0.0003,100.0,518.67,642.61,1594.51,1403.93,14.62,...,521.90,2388.06,8179.29,8.4279,0.03,394,2388,100.0,38.95,23.3630
13070,100,173,-0.0003,-0.0000,100.0,518.67,642.56,1591.49,1405.75,14.62,...,521.82,2388.04,8182.17,8.4615,0.03,393,2388,100.0,38.92,23.3491
13071,100,174,-0.0005,0.0003,100.0,518.67,642.81,1589.97,1404.90,14.62,...,521.73,2388.00,8183.70,8.4234,0.03,392,2388,100.0,38.64,23.2858
13072,100,175,0.0019,0.0000,100.0,518.67,642.25,1595.08,1398.46,14.62,...,521.60,2387.99,8182.50,8.4691,0.03,393,2388,100.0,39.00,23.2858
13073,100,176,0.0002,0.0002,100.0,518.67,642.73,1590.96,1410.76,14.62,...,521.23,2388.04,8186.68,8.4922,0.03,395,2388,100.0,38.79,23.2757
13074,100,177,-0.0041,-0.0003,100.0,518.67,642.80,1593.26,1411.29,14.62,...,521.52,2388.02,8188.45,8.4296,0.03,393,2388,100.0,39.02,23.2923
13075,100,178,0.0001,0.0005,100.0,518.67,642.32,1591.78,1408.08,14.62,...,521.93,2388.05,8184.89,8.4574,0.03,394,2388,100.0,38.65,23.1937
13076,100,179,0.0041,0.0001,100.0,518.67,642.30,1588.93,1412.82,14.62,...,521.49,2388.00,8185.87,8.4371,0.03,393,2388,100.0,38.78,23.2962
13077,100,180,-0.0004,0.0001,100.0,518.67,642.65,1593.47,1415.79,14.62,...,521.58,2388.07,8193.02,8.5022,0.03,392,2388,100.0,38.75,23.3786
13078,100,181,-0.0010,0.0000,100.0,518.67,642.94,1586.09,1408.95,14.62,...,521.93,2388.03,8193.03,8.4124,0.03,393,2388,100.0,38.88,23.1571
13079,100,182,-0.0027,-0.0001,100.0,518.67,642.28,1598.05,1414.43,14.62,...,521.47,2388.03,8193.05,8.4333,0.03,394,2388,100.0,38.90,23.2921
13080,100,183,0.0009,0.0001,100.0,518.67,642.78,1595.34,1406.21,14.62,...,522.06,2388.05,8197.42,8.4463,0.03,394,2388,100.0,38.66,23.3496
13081,100,184,0.0001,-0.0004,100.0,518.67,642.60,1595.89,1416.17,14.62,...,521.54,2388.06,8197.66,8.4568,0.03,394,2388,100.0,38.80,23.1229
13082,100,185,0.0032,0.0004,100.0,518.67,642.84,1592.18,1413.60,14.62,...,521.50,2388.00,8195.29,8.4424,0.03,394,2388,100.0,38.81,23.3007
13083,100,186,-0.0025,0.0005,100.0,518.67,643.38,1592.04,1416.25,14.62,...,521.57,2388.02,8203.03,8.4802,0.03,393,2388,100.0,38.89,23.3233
13084,100,187,0.0019,0.0002,100.0,518.67,642.40,1595.19,1416.95,14.62,...,521.53,2388.05,8197.56,8.4632,0.03,394,2388,100.0,38.87,23.3093
13085,100,188,0.0010,0.0005,100.0,518.67,643.35,1589.88,1409.88,14.62,...,521.76,2388.06,8206.25,8.4457,0.03,394,2388,100.0,38.54,23.3504
13086,100,189,-0.0003,0.0002,100.0,518.67,643.29,1592.33,1417.66,14.62,...,520.93,2388.09,8209.84,8.4423,0.03,393,2388,100.0,38.71,23.3188
13087,100,190,-0.0038,0.0002,100.0,518.67,642.95,1598.97,1421.28,14.62,...,521.63,2388.07,8207.95,8.4765,0.03,395,2388,100.0,38.74,23.3551
13088,100,191,-0.0031,-0.0001,100.0,518.67,642.92,1589.54,1413.65,14.62,...,521.23,2388.07,8201.94,8.4877,0.03,396,2388,100.0,38.89,23.2279
13089,100,192,-0.0034,0.0001,100.0,518.67,643.05,1598.18,1418.58,14.62,...,520.99,2388.07,8210.24,8.4171,0.03,395,2388,100.0,38.77,23.2148
13090,100,193,0.0018,0.0004,100.0,518.67,643.10,1595.60,1414.62,14.62,...,521.37,2388.05,8213.57,8.4429,0.03,395,2388,100.0,38.63,23.2952
13091,100,194,0.0049,0.0000,100.0,518.67,643.24,1599.45,1415.79,14.62,...,520.69,2388.00,8213.28,8.4715,0.03,394,2388,100.0,38.65,23.1974
13092,100,195,-0.0011,-0.0001,100.0,518.67,643.22,1595.69,1422.05,14.62,...,521.05,2388.09,8210.85,8.4512,0.03,395,2388,100.0,38.57,23.2771
13093,100,196,-0.0006,-0.0003,100.0,518.67,643.44,1593.15,1406.82,14.62,...,521.18,2388.04,8217.24,8.4569,0.03,395,2388,100.0,38.62,23.2051
13094,100,197,-0.0038,0.0001,100.0,518.67,643.26,1594.99,1419.36,14.62,...,521.33,2388.08,8220.48,8.4711,0.03,395,2388,100.0,38.66,23.2699
13095,100,198,0.0013,0.0003,100.0,518.67,642.95,1601.62,1424.99,14.62,...,521.07,2388.05,8214.64,8.4903,0.03,396,2388,100.0,38.70,23.1855

In [107]:
y_test

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [108]:
x_train = df_train.iloc[:,:-1].values
y_train = df_train.iloc[:,-1:].values

In [109]:
x_train

array([[ 1.00000e+00,  1.00000e+00, -7.00000e-04, ...,  1.00000e+02,
         3.90600e+01,  2.34190e+01],
       [ 1.00000e+00,  2.00000e+00,  1.90000e-03, ...,  1.00000e+02,
         3.90000e+01,  2.34236e+01],
       [ 1.00000e+00,  3.00000e+00, -4.30000e-03, ...,  1.00000e+02,
         3.89500e+01,  2.33442e+01],
       ...,
       [ 1.00000e+02,  1.98000e+02,  4.00000e-04, ...,  1.00000e+02,
         3.84400e+01,  2.29333e+01],
       [ 1.00000e+02,  1.99000e+02, -1.10000e-03, ...,  1.00000e+02,
         3.82900e+01,  2.30640e+01],
       [ 1.00000e+02,  2.00000e+02, -3.20000e-03, ...,  1.00000e+02,
         3.83700e+01,  2.30522e+01]])

In [110]:
y_train

array([[0],
       [0],
       [0],
       ...,
       [1],
       [1],
       [1]], dtype=int64)

In [111]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(x_train,y_train)

C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\DELL\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [112]:
ypred = model.predict(x_test)

In [113]:
ypred

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [114]:
from sklearn.metrics import accuracy_score
accuracy_score(ypred,y_test)

0.9843463653023824

In [115]:
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(ypred,y_test)
cm1

array([[12720,   161],
       [   44,   171]], dtype=int64)

In [116]:
import joblib

In [117]:
joblib.dump(model,"engine_model.sav")

['engine_model.sav']